.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
pubspec.lock
.vscode/
example/.dart_tool/
example/build/
example/pubspec.lock
.env
*.env
example/.env
example/lib/env/env.g.dart
